<!DOCTYPE html>

<head>
    <title>Spending money, spending bytes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Title</h1>
        <p>Sic.</p>
        {{ if .username }}
        <p>Logged in as {{ .username }} <a href="{{ .logoutURL }}">Logout</a></p>
        <p><a href="/employeeedit">Edit my info</a></p>
        {{ else }}
        <p><a href="{{ .loginURL }}">Login</a></p>
        {{ end }}
        <p>{{- .time -}}</p>
    </div>
    <div class="container">
        <h2>Employee records</h2>
        {{ range $employee := .employees }}
            <a href="/employeeview?email={{ $employee.Email }}">{{ $employee.Name }}</a> ({{ $employee.Email }})<br>
        {{ end }}
    </div>
</body>
